<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
    </header>
    <body>
        <%- include('../includes/navigation.ejs') %>
        </header>
        <main>
            <h1>Nothing There!  &#x1F641;</h1>
        </main>



        <%- include('../includes/footer.ejs') %>